name: release-cpack

on:
  push:
    # tags:
    #   - 'v*'

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [x64, arm64]
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake gcc-aarch64-linux-gnu g++-aarch64-linux-gnu
      - name: Build
        run: |
          if [ "${{ matrix.arch }}" == "arm64" ]; then
            cmake -B build -DCMAKE_C_COMPILER=aarch64-linux-gnu-gcc \
              -DCMAKE_CXX_COMPILER=aarch64-linux-gnu-g++ \
              -DHIPO=ON -DBUILD_OPENBLAS=ON
          else
            cmake -B build
          fi
          cmake --build build
          cd build && cpack
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-${{ matrix.arch }}
          path: build/*.tar.gz

  build-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        arch: [x64, Win32]
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: |
          cmake -B build -G "Visual Studio 17 2022" -A ${{ matrix.arch }} \
              -DHIPO=ON -DBUILD_OPENBLAS=ON
          cmake --build build --config Release
          cd build
          cpack -C Release
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-${{ matrix.arch }}
          path: build/*.zip

  build-windows-arm:
    runs-on: windows-11-arm
    strategy:
      matrix:
        arch: [ARM, ARM64]
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: |
          cmake -B build -G "Visual Studio 17 2022" -A ${{ matrix.arch }} \
              -DHIPO=ON -DBUILD_OPENBLAS=ON
          cmake --build build --config Release
          cd build
          cpack -C Release
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-${{ matrix.arch }}
          path: build/*.zip

  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build Universal Binary
        run: |
          cmake -B build -DCMAKE_OSX_ARCHITECTURES="x86_64;arm64"
          cmake --build build
          cd build && cpack
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: macos-universal
          path: build/*.dmg
