name: release-cpack

on:
  push:
    # tags:
    #   - 'v*'

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [x64]
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: |
          cmake -B build -DHIPO=ON -DBUILD_OPENBLAS=ON -DBUILD_STATIC_EXE=ON \
            -DCMAKE_EXE_LINKER_FLAGS="-static -static-libgcc -static-libstdc++"
          cmake --build build -j2
          cd build && cpack

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-${{ matrix.arch }}
          path: build/*.tar.gz

  build-linux-arm:
    runs-on: ubuntu-24.04-arm
    strategy:
      matrix:
        arch: [arm64]
    steps:
      - uses: actions/checkout@v3

      - name: Build
        run: |
          cmake -B build -DHIPO=ON -DBUILD_OPENBLAS=ON -DBUILD_STATIC_EXE=ON \
            -DCMAKE_EXE_LINKER_FLAGS="-static -static-libgcc -static-libstdc++"
          cmake --build build -j2
          cd build && cpack

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-${{ matrix.arch }}
          path: build/*.tar.gz

  build-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        arch: [x64]
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: |
          cmake -B build -G "Visual Studio 17 2022" -A ${{ matrix.arch }} `
              -DHIPO=ON -DBUILD_OPENBLAS=ON -DBUILD_STATIC_EXE=ON
          cmake --build build --config Release --parallel
          cd build
          cpack -C Release

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-${{ matrix.arch }}
          path: build/*.zip

  build-windows-32:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [Win32]
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: |
          cmake -B build -G "Visual Studio 17 2022" -A ${{ matrix.arch }} `
              -DHIPO=ON -DBUILD_OPENBLAS=ON -DBUILD_STATIC_EXE=ON
          cmake --build build --config Release --parallel
          cd build
          cpack -C Release

        # -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreadedDLL
        # Win32

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-${{ matrix.arch }}
          path: build/*.zip

  build-windows-arm-32:
    runs-on: windows-11-arm
    strategy:
      matrix:
        arch: [ARM]
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: |
          cmake -B build -G "Visual Studio 17 2022" -A ${{ matrix.arch }} `
              -DHIPO=ON -DBUILD_OPENBLAS=ON -DBUILD_STATIC_EXE=ON `
          cmake --build build --config Release --parallel
          cd build
          cpack -C Release

        # -DCMAKE_VS_WINDOWS_SDK_VERSION=10.0.20348.0

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-${{ matrix.arch }}
          path: build/*.zip

  build-windows-arm:
    runs-on: windows-11-arm
    strategy:
      matrix:
        arch: [ARM64]
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: |
          cmake -B build -G "Visual Studio 17 2022" -A ${{ matrix.arch }} `
              -DHIPO=ON -DBUILD_OPENBLAS=ON -DBUILD_STATIC_EXE=ON
          cmake --build build --config Release --parallel
          cd build
          cpack -C Release

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-${{ matrix.arch }}
          path: build/*.zip

  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build Universal Binary
        run: |
          cmake -B build -DCMAKE_OSX_ARCHITECTURES="x86_64;arm64" \
              -DBUILD_STATIC_EXE=ON
          cmake --build build --parallel
          cd build && cpack

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: macos-universal
          path: build/*.tar.gz
