name: test-python-win

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # os: [self-hosted]
        os: [windows-2022]
        python: ["3.10", "3.14"]

    steps:
      - uses: actions/checkout@v4
      - name: Install correct python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Install pytest
        run: python -m pip install pytest

      - name: Test python install
        run: |
          python -m pip install .
          pytest

      - name: Test Python Examples
        run: |
         python ./examples/call_highs_from_python_highspy.py
         python ./examples/call_highs_from_python_mps.py
         python ./examples/minimal.py

  build_hipo:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # os: [self-hosted]
        os: [windows-2022]
        python: [3.12]
    steps:
      - uses: actions/checkout@v4
      - name: Install correct python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      # - name: Edit pyproject
      #   run: |
      #     ls
      #     $content = Get-Content pyproject.toml -Raw
      #     $newContent = $content -replace 'cmake\.args = \[\s*"-DPYTHON_BUILD_SETUP=ON"\s*\]', @"
      #     cmake.args = [
      #     "-DPYTHON_BUILD_SETUP=ON",
      #     "-DHIPO=ON",
      #     "-DBUILD_OPENBLAS=ON"
      #     ]
      #     "@
      #     $newContent | Set-Content pyproject.toml
      #     cat pyproject.toml

      # check if automatic
      - name: Install test dependencies
        run: python -m pip install pytest

      - name: Test python install
        run: |
          python -m pip install . `
             --config-settings=cmake.define.HIPO=ON `
             --config-settings=cmake.define.BUILD_OPENBLAS=ON
          pytest
          pytest check/test_highspy_hipo.py

      - name: Test Python Examples
        run: |
         python ./examples/call_highs_from_python_highspy.py
         python ./examples/call_highs_from_python_mps.py
         python ./examples/minimal.py
