name: test-python-win

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # os: [self-hosted]
        os: [windows-2022]
        python: [3.12]
    steps:
      - uses: actions/checkout@v4
      - name: Install correct python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Install build dependencies
        run: python -m pip install numpy wheel pytest

      - name: Test python install
        run: |
          python -m pip install .
          pytest -k "not test_hipo"

      - name: Test Python Examples
        run: |
         python ./examples/call_highs_from_python_highspy.py
         python ./examples/call_highs_from_python_mps.py
         python ./examples/minimal.py

  build_hipo:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # os: [self-hosted]
        os: [windows-2022]
        python: [3.12]
    steps:
      - uses: actions/checkout@v4
      - name: Install correct python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Edit pyproject
        run: |
          ls
          cmake.args = [
          "-DPYTHON_BUILD_SETUP=ON",
          "-DHIPO=ON",
          "-DBUILD_OPENBLAS=ON"
          ]
          "@
          $newContent | Set-Content pyproject.toml
          cat pyproject.toml

      - name: Install build dependencies
        run: python -m pip install numpy wheel pytest

      - name: Test python install
        run: |
          python -m pip install .
          pytest

      - name: Test Python Examples
        run: |
         python ./examples/call_highs_from_python_highspy.py
         python ./examples/call_highs_from_python_mps.py
         python ./examples/minimal.py
